---
import { Icon } from "astro-icon/components";
import type { Geometry } from "@interfaces/geometry.interface";

interface Props {
  isAbsolute?: boolean;
}

const { isAbsolute = false } = Astro.props;

const geometries: Geometry[] = [
  {
    icon: "geometry",
    title: "Geometry",
    size: "140",
  },
  {
    icon: "dots",
    title: "Dots",
    size: "100",
  },
  {
    icon: "rectangle",
    title: "Rectangle",
    size: "120",
  },
].sort(() => Math.random() - 0.5);
---

<div class:list={["geometry", { absolute: isAbsolute }]} aria-hidden="true">
  {
    geometries.map((geometry, index) => (
      <span class={`geometry-icon icon-${index + 1}`}>
        <Icon
          name={geometry.icon}
          title={geometry.title}
          size={geometry.size}
        />
      </span>
    ))
  }
</div>
<style>
  .geometry {
    width: 100%;
    height: 100%;
  }
  .absolute {
    position: absolute;
  }
  .geometry-icon {
    width: 100%;
    height: auto;
    display: block;
  }
  .icon-1 {
    text-align: start;
  }
  .icon-2 {
    text-align: end;
  }
  .icon-3 {
    text-align: start;
  }
</style>
