---
import { Icon } from 'astro-icon/components'
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { ROUTES } from '@i18n/ui';
import { SelectLanguage } from '@islands/select-language/SelectLanguage';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentLang = getLangFromUrl(Astro.url);
const currentPath: string = Astro.url.pathname;

const links: string[] = ROUTES;
const currentLink: string = currentPath.split('/').filter(path => links.includes(path))[0];
---

<section class="language-section">
    <SelectLanguage client:idle datepickerLabel={t('datepicker.label')} currentLang={currentLang} currentLink={currentLink}>
        <Icon slot="iconLeft" class="language-icon" name="language" title="language" size="24"/>
        <Icon slot="iconRight" class="language-icon" name="arrow" title="arrow" size="14"/>
    </SelectLanguage>
</section>
