---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

interface Props {
  name: 'works' | 'skills' | 'projects' | 'contacts';
}

const { name } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class={`${name}-section`}>
    <div class="title-container">
        <h2 class="title"><span>#</span>{t(`section.${name}`)}</h2>
        <div class="divider" aria-hidden="true"></div>
    </div>
    <slot></slot>
</section>
<style>
    section {
        width: 100%;
        height: auto;
        margin-bottom: 100px;
        position: relative;
    }
    .title-container {
        width: 100%;
        height: auto;
        margin: 12px 0;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
    }
    .divider {
        width: 60%;
        height: 1px;
        margin-left: 12px;
        background-color: var(--primary-color);
    }
    .title {
        min-width: max-content;
        font-weight: 400;
        font-size: 24px;
        text-wrap: balance;
        color: var(--white-color);
        span {
            margin-right: 8px;
            color: var(--primary-color);
        }
    }
</style>
