---
import { getLangFromUrl } from '@i18n/utils';
import { getCollection } from 'astro:content';
import TimelineList from '@components/TimelineList.astro';

const lang = getLangFromUrl(Astro.url);

const worksCollection = await getCollection('works', ({ id }) => {
  return id.startsWith(`${lang}/`);
});
const { Content } = await worksCollection[0].render();
---
<div class="timeline-container">
    <ol class="timeline-list">
      {worksCollection.map(project => (
              <TimelineList time={project.data.time} title={project.data.title}>
                  <Content/>
              </TimelineList>
      ))}
    </ol>
</div>
<style>
    .timeline-container {
        width: 100%;
        height: auto;
        padding-left: 16px;
    }
    .timeline-list {
        padding-left: 0;
        position: relative;
        border-left: 1px solid var(--primary-color);
    }
</style>
